---
---

$pattern-dark: "{{ site.baseurl }}/images/assets/pattern-dark.png";
$pattern-grey: "{{ site.baseurl }}/images/assets/pattern-grey.png";
$pattern-light-grey: "{{ site.baseurl }}/images/assets/pattern-light-grey.png";
$bg-take-cation: "{{ site.baseurl }}/images/assets/take-action-bg.png";
/*
$front-main-image: "https://source.unsplash.com/j5LSbCqB1wA/2000x1322?a=.png";
*/

$enactus-gold: #FFC222; /* RGB(255, 194, 34) */
$enactus-tan: #E8EAE2;  /* 	RGB(232, 234, 226) */
$enactus-grey: #3B4650;  /* RGB(59, 70, 80) */
$enactus-dark-grey: #30333C; /* 	RGB(48, 51, 60) */

$html-background-color: #fff;
$middle-gradient-color: mix($enactus-gold, $enactus-grey, 95%);

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";

$section-rotation: 5deg;

@import url('//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i');
@import url('//fonts.googleapis.com/earlyaccess/nanumgothic.css');
@import "mixins/flexbox";
@import "mixins/columns";
@import "elements";
@import "landing-page";
@import "page-top-element";
@import "layout";
@import "contact";
@import "blog";
@import "forms";
@import "navigation";
@import "footer";
@import "cloudcannon";
