---
title: Projects
heading: Proejcts
subtitle: See some of our proud proejcts.
---

{% assign _projects = site.projects | group_by_exp:"item", "item.end_year" %}
{% assign projects = _projects | sort: 'name' ,'last' | where_exp:"item",
"item.name == nil"| reverse %}
<section class="first diagonal patterned less-padding-top">
{% for project in projects[0].items  %}

	<div class="container halves">
    <div>
      <h3 class="enactus-highlight">{{ project.name }}</h3>
      <p>
				{{ project.subtitle }}
		  </p>
			<sub>
					{{ project.excerpt | strip_html | truncatewords: 60 }}
			</sub>

      <p><a href="{{ site.baseurl }}{{ project.url }}">자세히보기 &rarr;</a></p>
    </div>
    <div>
				<ul class="image-grid">
			<li class="square-image">
				<a href="{{ site.baseurl }}{{ project.url }}">
					{% assign projects_image = project.image_path | default: site.data.image.project_default %}
					<div class="img-box" style="background-image: url({% include relative-src.html src= projects_image %})">
					</div>
					{% if project.start_year %}
					<sub class="top-right">launched in {{ project.start_year }}</sub>
					{% endif %}
					<div class="details">
						<div class="name">{{ project.name }}</div>
					</div>
				</a>
			</li>
</ul>
    </div>
  </div>
{% endfor %}
</section>

{% assign projects = _projects | sort: 'name' ,'last' | where_exp:"item",
"item.name != nil"| reverse %}
<section class="diagonal alternate less-padding-top">
	{% for year in projects  %}
	<div class="container">
			<h3> {{ year.name }}<h3>
				<ul class="image-grid">
				{% for project in year.items %}
					<li class="square-image">
						<a href="{{ site.baseurl }}{{ project.url }}">
							{% assign projects_image = project.image_path | default: site.data.image.project_default %}
							<div class="img-box" style="background-image: url({% include relative-src.html src= projects_image %})">
							</div>
							<sub class="top-right">{{ project.start_year }} - {{ project.end_year }}</sub>
							<div class="details">
								<div class="name">{{ project.name }}</div>
								<div class="position">{{ project.subtitle }}</div>
							</div>
						</a>
					</li>
				{% endfor %}
				<li class="filler"></li>
				<li class="filler"></li>
			</ul>

	</div>
	{% endfor %}
</section>
