@mixin columns($value) {
  columns: $value;
  -webkit-columns: $value;
  -moz-columns: $value;
}

@mixin box-sizing($value) {
  box-sizing: $value;
  -webkit-box-sizing:$value;
  -moz-box-sizing: $value;
}
