---
title:
---
<!--
<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
-->

<section class="hero" style="background-image: url({{ site.data.image.main }})">
  <div class="inner-hero container">
    <div class="hero-text-container">

      <h1>
				A <strong>HEAD</strong> FOR <strong>BUSINESS</strong>.
				<br>
				A <strong>HEART</strong> FOR THE <strong>WORLD</strong>.
			</h1>
      <br>
      <p class="subtext">
        {{ site.data.team.description }}
      </p>
      <div class="cta button alt"><a href="http://enactuskorea.org" target="_blank">Korea</a></div>
      <div class="cta button alt"><a href="http://enactus.org" target="_blank">Worldwide</a></div>


    </div>

    {% if site.data.team.is_recruiting %}
    <div class="learn-more"><a href="{{ site.categories.recruitment[0].url }}">리쿠르팅 지원 ▶</a></div>
    {% endif %}
  </div>

</section>

<section class="first diagonal brand-slider">
  <!-- Slider -->
  <div class="slider">

    <div class="slides">
      <div class="slide active">

        <blockquote>
          <div class="slide-post">
            <p>전세계 5만여 명의 인액터스(구:SIFE)야말로 이 시대 젊은이들의 혁신의 정신과 사회적 책임에 대한 감각을 보여주는 좋은 예이다.</p>
            <cite>- Hillary Clinton | 전) 미 국무부 장관</cite>
          </div>
        </blockquote>
<!--
        <a target="_blank" href="https://www.youtube.com/watch?v=pSEKBFDjm2s">Congratulation VIDEO</a>
			-->
      </div>
      <div class="slide inactive Right">
        <blockquote>
          <div class="slide-post">
            <p>인액터스는 자신들이 속한 사회에 즉각적인 영향을 미칠 뿐 아니라, 꾸준히 성장하며 궁극적으로 엄청난 변화를 일으킬 인재들이다. 우리는 회사의 미래를 책임질 경영자급 인재를 뽑을 때 가장 먼저 인액터스를 찾는다. 인액터스에서 다 얻고도 자리가 남을 때 오픈 마켓에서 사람을 뽑는다.</p>
            <cite>- Doug Mcmillon | President & CEO SAM’s CLUB, Wal-Mart stores, Inc.</cite>
          </div>
        </blockquote>
      </div>

      <div class="slide inactive Right">
        <blockquote>
          <div class="slide-post">
            <p>인액터스는 매너리즘과 안일함에 빠진 나에게 도전의식을 되살려준다. 나와 직원들은 가치에 대한 헌신과 열정을 회복하기 위해 사이프(현:인액터스)에 참여한다.</p>
            <cite>- Robert Jacobson | Senior Vice President, Unilever</cite>
          </div>
        </blockquote>
      </div>
      <div class="slide inactive Right">
        <blockquote>
          <div class="slide-post">
            <p>인액터스는 나에게 윤리적인 기업을 만들고 지속하려는 나의 목적을 항상 기억하게 해준다. 이런 인재들이 들어오고 싶어하는 회사를 만드는 것이 나의 꿈이다.
            </p>
            <cite>- Jonice Bryant | Howroyd Chairman CEO, Act 1</cite>
          </div>
        </blockquote>
      </div>
      <span class="bullets">
			</span>
    </div>
	</div>
</section>

<section class="diagonal patterned">
  <div class="container halves">
    <div>
      <h3>{{ site.title }} Projects</h3>
      <p>
        성균관 인액터스는 기업가정신의 실천을 통해 더 나은 사회를 만들어가는 전략적 사회공헌 경영학회입니다. 우리는 비즈니스의 긍정적인 힘으로 세상에 변화를 가져오고 있습니다. 성균관 인액터스의 대표 프로젝트들을 확인해보세요.
      </p>

      <p><a href="{{ site.baseurl }}/projects/">전체 프로젝트 보기 &rarr;</a></p>
    </div>

  </div>
  <div class="container halves">
    <div>

      {% assign projects = site.projects | where: 'categories','representative' | sort: 'end_year' ,'last' %}

      <ul class="image-grid">
        {% for project in projects reversed %}
        <li class="square-image">
          <a href="{{ site.baseurl }}{{ project.url }}">
							{% assign projects_image = project.image | default: site.data.image.project_default %}
							<div class="img-box" style="background-image: url({% include relative-src.html src= projects_image %})">
							</div>
							<sub class="top-right">launched in {{ project.start_year | default:'now'}}</sub>
							<div class="details">
								<div class="name"><small class="light-text">project.</small>&nbsp;{{ project.title }}</div>
								<div class="position">{{ project.description }}</div>
							</div>
						</a>
        </li>
        {% endfor %}
      </ul>

    </div>
  </div>
</section>
<!--
<section class="diagonal alternate">
  <div class="container halves">
    <p class="subtext">
      WHEN WE COMPETE TO IMPROVE LIVES,
    </p>
  </div>
  <div class="container halves">
    <h2>
			<strong>WE ALL WIN.</strong>
		</h2>
  </div>
</section>
-->
<!--
<div class="learn-more"><a href="{{ site.categories.recruitment[0].url }}">리쿠르팅 지원 ▶</a></div>

<section class="diagonal alternate">
  <div class="container halves">
    <div>
      <h2>{{ site.categories.recruitment[0].title }}</h2>
      <p class="subtext">
        {{ site.categories.recruitment[0].description }}
      </p>
      <p><a class="button alt" href="{{ site.categories.recruitment[0].url }}">리쿠르팅 지원 ▶</a></p>
    </div>
  </div>
</section>
-->


<script src="{{ site.baseurl }}/js/slider.js"></script>
