---
title:
heading:
description:
---
{% assign page_data = site.data.navigation.links | where: "link", page.url | first %}
<section class="hero" style="background-image: url({{ page_data.image | default : site.data.image.default_image.pages }})">
  <div class="inner-hero container">
    <div class="hero-text-container">
      <h1>{{ site.data.control.main_page.slogan }}</h1>
      <br>
      <p class="subtext">{{ site.data.control.main_page.sub_slogan }}</p>
      <div class="cta button alt"><a href="http://enactuskorea.org" target="_blank">Korea</a></div>
      <div class="cta button alt"><a href="http://enactus.org" target="_blank">Worldwide</a></div>
    </div>

    {% if site.data.control.recruit.ing %}
    <div class="learn-more"><a href="{{ site.categories.recruitment[0].url }}">리쿠르팅 지원 &#9658;</a></div>
    {% endif %}
  </div>

</section>

{% include main-quote.html %}

{% include projects-preview.html %}

{% include full-modal.html %}
<!--
<section class="diagonal alternate">
  <div class="container halves">
    <p class="subtext">
      WHEN WE COMPETE TO IMPROVE LIVES,
    </p>
  </div>
  <div class="container halves">
    <h2>
			<strong>WE ALL WIN.</strong>
		</h2>
  </div>
</section>
-->
