---
title:
---
<!--
<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
-->

<section class="hero" style="background-image: url({{ site.data.image.main }})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Make a new friend today</h1>
			<p class="subtext editable">Frisco helps you find new friends with common interests. Search for a new Tennis partner, find a baking side-kick or befriend a new drinking buddy.</p>
			<div class="cta button alt"><a href="#">Join Now</a></div>
		</div>
    <div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
	</div>

</section>

<section class="diagonal brand">
  <div class="container halves">
    <h2 class="editable">
			<span class="investing">We believe investing in students who take</span>
			<span class="subtext editable">
				<span>en</span>trepreneurial
			</span>
			<span> act</span>ion for others
			<span class="subtext editable">
					creates a better world for
			</span>
		  <span>us</span> all.
		</h2>
  </div>
</section>

<section class="diagonal patterned">
	<div class="container">
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_clients/" class="btn"><strong>&#9998;</strong> Manage Clients</a></p>
		<ul class="image-grid">
			{% for client in site.clients %}
				<li>
					<a href="{{ site.baseurl }}{{ client.url }}">
						<img src="{% include relative-src.html src=client.image_path %}" alt="{{ person.name }}">
						<div class="details">
							<div class="name">{{ client.name }}</div>
							<div class="position">{{ client.subtitle }}</div>
						</div>
					</a>
				</li>
			{% endfor %}
			<li class="filler"></li>
			<li class="filler"></li>
		</ul>
	</div>
</section>

<section class="diagonal patterned">
  <div class="container halves">
    <div>
      <h3 class="editable">Some of our work</h3>
      <p class="editable">We take pride in our previous work and our happy customers. We cater to any sector to boost business and increase exposure.</p>
      <p class="editable"><a href="{{ site.baseurl }}/portfolio/">View Full Portfolio &rarr;</a></p>
    </div>
    <div>
      <ul class="image-grid">
        {% for client in site.clients limit: 4 %}
        <li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}"></a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

<section class="diagonal alternate">
  <div class="container halves">
    <div>
      <h2 class="editable">We build websites</h2>
      <p class="subtext editable">This is the <strong>Urban</strong> template from <a href="http://cloudcannon.com/">CloudCannon</a>. Urban is a strong foundation for the web presence of your agency.</p>
      <p><a class="button alt" href="{{ site.baseurl }}/contact/">Contact Us</a></p>
    </div>
  </div>
</section>
