<footer class="diagonal">
  <div class="container">
    <div class="footer-columns">
      {% for column in site.data.footer %}
        <ul class="footer-links">
          <li>
            {% if column.title == 'Site Links' %}
              <h2 class="no-margin">{{ site.data.team.title }}</h2>
            {% endif %}
            <h2 class="no-margin">{{ column.title }}</h2>
          </li>
          {% for link in column.links %}
            <li>
              <a {% if link.new_window %}target="_blank"{% endif %} href="{% include relative-src.html src=link.link %}" {% if link.social_icon %}class="{{ link.social_icon | slugify }}-icon"{% endif %}>
                {% if link.social_icon %}
                  {% include social-icon.html icon=link.social_icon %}
                {% endif %}

                {{ link.name }}
              </a>

            </li>
          {% endfor %}
          {% if column.title == 'Social' %}
          <li><a href="{{ site.baseurl }}/atom.xml">{% include social-icon.html icon="RSS" %} RSS feed</a></li>
          {% endif %}
        </ul>
      {% endfor %}

      <ul class="footer-links">
        <li>
          <h2 class="no-margin">
            <strong class="enactus-text">EN</strong>&middot;<strong class="enactus-text">ACT</strong>&middot;<strong class="enactus-text">US</strong>
          </h2>
        </li>
        <li>
          <p class="no-margin">
            <strong class="enactus-text">EN</strong>trepreneurial&nbsp;|&nbsp;기업가정신
          </p>
          <p class="no-margin">기회를 발견해 내는 안목과</p>
          <p class="no-margin">이러한 기회를 통해 가치를</p>
          <p class="no-margin">만들어 내는 재능</p>
        </li>
        <li>
          <p class="no-margin">
            <strong class="enactus-text">ACT</strong>ion&nbsp;|&nbsp;실천
          </p>
          <p class="no-margin">결과가 보장되지 않은 상황에서도</p>
          <p class="no-margin">이를 끝까지 해내려는 의지</p>
        </li>
        <li>
          <p class="no-margin">
            <strong class="enactus-text">US</strong>&nbsp;|&nbsp;공동체
          </p>
          <p class="no-margin">행동 또는 목적을 같이하는 집단</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="legal-line">
    <p class="container">
      &copy; {{ site.time | date: '%Y' }} {{ site.data.team.title }}
      &bull;
      by <a href="https://github.com/intiwatana/" target="_blank">intiwatana</a>
    </p>
  </div>
</footer>
