{% if site.data.control.main_page.popup.view %}


<div class="modal">
  <input id="modal-trigger-full" class="checkbox" type="checkbox">
  <div class="modal-overlay">

    <div class="modal-wrap a-center from-bottom">
      <label for="modal-trigger-full" class="close">&#10006;</label>
      <div class="blog-post text-contaier popup-background"   >
        <div class="post-content">

        <img src="{% include relative-src.html src= site.data.control.main_page.popup.image %}">

        </div>
      </div>
        <a href="{% include relative-src.html src= site.data.control.main_page.popup.link %}" rel="nofollow">
      <div class="cta button alt">
        See More &#9658;
      </div>
      </a>

      <div class="checkboxes">
        <label for="modal-prevent" >
          <input id="modal-prevent" type="checkbox" onchange="prventFullPopup(this,'main_popup','0',1)"/>
          <span>하루동안 보지 않기</span>
        </label>
        <label>
            |
        </label>
        <label for="modal-trigger-full" >
          <span>닫기</span>
        </label>
      </div>

    </div>
  </div>
</div>

<script>
function prventFullPopup(el, cname, cvalue, exdays){
  if(el.checked){
    setCookie(cname, cvalue, exdays);
  }else{
    setCookie(cname, "", 0);
  }

  document.getElementById("modal-trigger-full").checked = false;
}

function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    var expires = "expires="+ d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}
function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}

if(getCookie("main_popup")=="")
  document.getElementById("modal-trigger-full").checked = true;


</script>


{% endif %}
