<meta charset="utf-8"/>
<meta name="msapplication-TileColor" content="#FFC222">
<meta name="theme-color" content="#FFC222">

<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no"/>
{% if site.site_verification.naver %}
<meta name="naver-site-verification" content="site.site_verification.naver"/>
{% endif %}

{% unless site.data.team.default_logo contains '://' %}
  {% assign ld_logo = site.data.team.default_logo | prepend: site.url | uri_escape %}
{% endunless %}

{% if page.layout == 'post' or page.layout == 'page' or page.layout == 'project' %}
  {% assign ld_title = page.title %}
  {% assign meta_title = page.title | append: ' | ' | append: site.title %}
  {% assign meta_author = site.title %}
  {% assign _meta_description = page.description | default:'' %}
  {% assign meta_url = site.url | append: site.baseurl | append: page.url | uri_escape %}
  {% assign meta_image = page.image | default: ld_logo | uri_escape %}
  {% assign meta_type = 'article' %}
  {% if page.layout == 'post' %}
    {% assign ld_type = 'BlogPosting' %}
  {% else %}
    {% assign ld_type = 'WebPage' %}
  {% endif %}

{% else %}

  {% assign ld_title = site.title %}
  {% assign meta_title = site.title %}
  {% assign meta_author = site.title %}
  {% assign _meta_description = site.description | strip_html  %}
  {% assign meta_url = site.url | uri_escape %}
  {% assign meta_image = ld_logo | uri_escape %}
  {% assign meta_type = 'website' %}
  {% assign ld_type = 'WebSite' %}

{% endif %}

{% assign contents_excerpt = content | remove:'&nbsp;' | remove:'<a>'| remove:'<h1>' | replace: _meta_description, "" | strip_html | truncatewords:50 %}
{% assign meta_description = _meta_description | append: " " | append: contents_excerpt | truncatewords: 50 %}

{% unless meta_image contains '://' %}
  {% assign meta_image = meta_image  | uri_escape  | prepend: site.url %}
{% endunless %}

<title>{{ meta_title }}</title>
<meta name="title" content="{{ meta_title }}" />
<meta name="author" content="{{ meta_author }}"/>
<meta name="description" content="{{ meta_description }}"/>

{% if page.tags %}
  {% assign keywords = {{ page.tags | join: ',' }} %}
  <meta name="keywords" content="{{keywords}}"/>
{% else %}
  {% if site.data.team.search_keyword %}
    {% assign keywords = {{ site.data.team.search_keyword }} %}
    <meta name="keywords" content="{{keywords}}"/>
  {% endif %}
{% endif %}

{% if site.facebook.app_id %}
<meta property="fb:app_id" content="{{ site.facebook.app_id }}"/>
{% endif %}
<meta property="og:site_name" content="{{ site.title }}"/>
<meta property="og:type" content="{{ meta_type }}"/>
<meta property="og:title" content="{{ meta_title }}"/>
<meta property="og:description" content="{{ meta_description }}"/>
<meta property="og:locale" content="{{ site.locale }}"/>
<meta property="og:url" content="{{ meta_url }}"/>
<meta property="og:image" content="{{ meta_image }}"/>
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content="{{ meta_title }}"/>
<meta name="twitter:description" content="{{ meta_description }}"/>
<meta name="twitter:label1" content="Written by"/>
<meta name="twitter:data1" content="{{ meta_author }}"/>
<meta name="twitter:image:src" content="{{ meta_image }}"/>

{% if page.tags %}
<meta name="twitter:label2" content="Filed under"/>
<meta name="twitter:data2" content="{{ page.tags | join: ','}}"/>
{% for tag in page.tags %}
<meta property="article:tag" content="{{ tag }}"/>
{% endfor %}
{% endif %}
{% if page.date %}
<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}"/>
{% endif %}

<script type="application/ld+json">
{
     "@context": "http://schema.org",
     "@graph": [{
       "@type":"{{ld_type}}",
       "headline":"{{ meta_title }}",{% if ld_type == 'BlogPosting' %}
       "dateModified":"{{ site.time | date_to_xmlschema }}",
       "datePublished":"{{ page.date | date_to_xmlschema }}",
       "mainEntityOfPage":{
         "@type":"WebPage",
         "@id":"{{ meta_url }}"
       },  {% endif %}
       "image":"{{ meta_image }}",
       "sameAs":[
         "https://www.facebook.com/skkenactus/",
         "https://www.youtube.com/EnactusKorea",
         "https://blog.naver.com/enactusblog/",
         "https://www.flickr.com/photos/enactuskorea"
       ],
       "url": "{{ meta_url }}",
       "name": "{{ ld_title }}",
       "keywords":"{{keyowords}}",
       "author":{
         "@type": "NGO",
         "name": "{{site.title}}",
         "url": "{{site.url}}",
         "logo": "{{ld_logo}}",
         "contactPoint": [{
           "@type": "ContactPoint",
           "email": "{{site.data.team.contact_email_address}}",
           "contactType": "customer support",
           "url" : "{{site.url}}"
         }],
         "sameAs": [
           "https://www.facebook.com/skkenactus/",
           "https://www.youtube.com/EnactusKorea",
           "https://blog.naver.com/enactusblog/",
           "https://www.flickr.com/photos/enactuskorea"
         ],
         "foundingDate": "{{site.data.team.foundingDate}}"
       },
       "publisher":{
         "@type": "Organization",
         "name": "{{site.title}}",
          "logo": {
            "@type": "ImageObject",
            "url": "{{ld_logo}}"
          }
       },
       "description": "{{ meta_description }}"
     }, {
       "@type": "NGO",
       "url": "{{site.url}}",
       "logo": "{{ld_logo}}",
       "contactPoint": [{
         "@type": "ContactPoint",
         "email": "{{site.data.team.contact_email_address}}",
         "contactType": "customer support",
         "url" : "{{site.url}}"
       }],
       "sameAs": [
         "https://www.facebook.com/skkenactus/",
         "https://www.youtube.com/EnactusKorea",
         "https://blog.naver.com/enactusblog/",
         "https://www.flickr.com/photos/enactuskorea"
       ],
       "foundingDate": "{{site.data.team.foundingDate}}"
     }]
}
</script>

{% feed_meta %}

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="{{ site.data.image.asset_folder }}/apple-touch-icon.png" />

<link rel="apple-touch-icon" sizes="57x57" href="{{ site.data.image.asset_folder }}/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.data.image.asset_folder }}/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="76x76" href="{{ site.data.image.asset_folder }}/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="114x114" href="{{ site.data.image.asset_folder }}/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="120x120" href="{{ site.data.image.asset_folder }}/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="144x144" href="{{ site.data.image.asset_folder }}/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="152x152" href="{{ site.data.image.asset_folder }}/apple-touch-icon-152x152.png" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.data.image.asset_folder }}/apple-touch-icon-180x180.png" />
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

{% if jekyll.environment == 'production' and site.google_analytics_key != '' %}
  <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', '{{ site.google_analytics_key }}', 'auto');
    ga('send', 'pageview');
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
{% endif %}
