<head>
<meta charset="utf-8"/>
<meta name="msapplication-TileColor" content="#FFC222">
<meta name="theme-color" content="#FFC222">

<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="robots" content="index, follow" />
<meta name="robots" content="noarchive" />

{% if site.site_verification.naver %}
<meta name="naver-site-verification" content="{{ site.site_verification.naver }}"/>
{% endif %}

{% assign page_data = site.data.navigation.links | where: "link", page.url | first %}

{% unless site.data.image.logo.default contains '://' %}
  {% assign ld_logo = site.data.image.logo.default | prepend: site.url | uri_escape %}
{% endunless %}

{% if page.layout == 'post' %}
  {% assign ld_title = page.title %}
  {% assign meta_title = ld_title | append: ' | ' | append: site.data.team.name %}
  {% assign meta_author = site.data.team.name %}
  {% assign _meta_description = page.description | default:'' %}
  {% assign meta_url = site.url | append: site.baseurl | append: page.url | uri_escape %}
  {% assign meta_image = page.image | default: ld_logo | uri_escape %}
  {% assign meta_type = 'article' %}
  {% assign ld_type = 'BlogPosting' %}
  {% assign contents_excerpt = content | newline_to_br | strip_newlines | replace: '<br />', ' ' | replace: '&nbsp;', ' '| replace: _meta_description, "" | strip_html | strip |  truncatewords: 35 %}
  {% assign meta_description = _meta_description | append: " " | append: contents_excerpt | truncatewords: 35 %}

{% elsif page.layout == 'page' or page.layout == 'project' or page.layout == 'archive' %}

  {% assign ld_title = page_data.name | default : page.title %}
  {% assign meta_title = ld_title | append: ' | ' | append: site.data.team.name %}
  {% assign meta_author = site.data.team.name %}
  {% assign _meta_description = page_data.description | default:'' %}
  {% assign meta_url = site.url | append: site.baseurl | append: page.url | uri_escape %}
  {% assign meta_image = page_data.image | default: ld_logo | uri_escape %}
  {% assign meta_type = 'article' %}
  {% assign ld_type = 'WebPage' %}
  {% assign contents_excerpt = content | newline_to_br | strip_newlines | replace: '<br />', ' ' | replace: '&nbsp;', ' '| replace: _meta_description, "" | strip_html | strip |  truncatewords: 35 %}
  {% assign meta_description = _meta_description | append: " " | append: contents_excerpt | truncatewords: 35 %}

{% else %}

  {% assign ld_title = site.data.team.name | default: site.title %}
  {% assign meta_title = site.data.team.name | default: site.title  %}
  {% assign meta_author = site.data.team.name | default: site.title  %}
  {% assign meta_description = page_data.description | default: site.description | strip_html  %}
  {% assign meta_url = site.url | uri_escape %}
  {% assign meta_image = ld_logo | uri_escape %}
  {% assign meta_type = 'website' %}
  {% assign ld_type = 'WebSite' %}

{% endif %}

{% unless meta_image contains '://' %}
  {% assign meta_image = meta_image  | uri_escape  | prepend: site.url %}
{% endunless %}

<title>{{ meta_title }}</title>
<meta name="title" content="{{ meta_title }}" />
<meta name="author" content="{{ meta_author }}"/>
<meta name="description" content="{{ meta_description }}"/>
<link rel="canonical" href="{{meta_url}}" />
{% if page.tags %}
  {% assign keywords = page.tags | uniq | join: ", " %}
{% else %}
  {% if site.data.team.search_keyword %}
    {% assign keywords = site.data.team.search_keyword | uniq | join: ", " %}
  {% endif %}
{% endif %}

{% if keywords %}
    <meta name="keywords" content="{{keywords}}"/>
{% endif %}

{% if site.facebook.app_id %}
<meta property="fb:app_id" content="{{ site.facebook.app_id }}"/>
{% endif %}
<meta property="og:site_name" content="{{ site.data.team.name }}"/>
<meta property="og:type" content="{{ meta_type }}"/>
<meta property="og:title" content="{{ meta_title }}"/>
<meta property="og:description" content="{{ meta_description }}"/>
<meta property="og:locale" content="{{ site.locale }}"/>
<meta property="og:url" content="{{ meta_url }}"/>
<meta property="og:image" content="{{ meta_image }}"/>
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content="{{ meta_title }}"/>
<meta name="twitter:description" content="{{ meta_description }}"/>
<meta name="twitter:label1" content="Written by"/>
<meta name="twitter:data1" content="{{ meta_author }}"/>
<meta name="twitter:image:src" content="{{ meta_image }}"/>

{% if page.tags %}
<meta name="twitter:label2" content="Filed under"/>
<meta name="twitter:data2" content="{{ page.tags | uniq | join: ", " }}"/>
{% for tag in page.tags %}
<meta property="article:tag" content="{{ tag }}"/>
{% endfor %}
{% endif %}
{% if page.date %}
<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}"/>
{% endif %}

{% feed_meta %}

<link rel="shortcut icon" href="{{site.url}}/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="{{site.url}}{{ site.data.image.asset_folder }}/apple-touch-icon.png" />

<link rel="apple-touch-icon" sizes="57x57" href="{{site.url}}{{ site.data.image.asset_folder }}/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="72x72" href="{{site.url}}{{ site.data.image.asset_folder }}/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="76x76" href="{{site.url}}{{ site.data.image.asset_folder }}/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="114x114" href="{{site.url}}{{ site.data.image.asset_folder }}/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="120x120" href="{{site.url}}{{ site.data.image.asset_folder }}/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="144x144" href="{{site.url}}{{ site.data.image.asset_folder }}/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="152x152" href="{{site.url}}{{ site.data.image.asset_folder }}/apple-touch-icon-152x152.png" />
<link rel="apple-touch-icon" sizes="180x180" href="{{site.url}}{{ site.data.image.asset_folder }}/apple-touch-icon-180x180.png" />

<link rel="stylesheet" href="{{site.url}}{{ site.baseurl }}/css/screen.css">

</head>
