{% assign searchword = '/images' | append: include.target %}
{% assign _images = site.static_files | where_exp:"item","item.image" %}
{% assign grid_images = _images | where_exp:"item","item.path contains searchword" | sort:'basename','last' %}
{% assign images_size = grid_images|size %}


{% unless images_size == 0 %}
<hr>
  <div class="gallery-container">
    {% for grid_image in grid_images %}
      {%  unless grid_image.path contains 'backup'  %}
        <div class="responsive {{ include.target | replace:'/' }}">
          <div class="gallery">

            <img src="{% include relative-src.html src= grid_image.path %}" alt="{{grid_image.basename}}">

            {%  unless include.desc %}
            <div class="desc">{{grid_image.basename}}</div>
            {% endunless %}

          </div>
        </div>
      {% endunless %}
    {% endfor %}
  </div>
<hr>
{% endunless %}
