{% assign searchword = 'images' | append: include.target %}
{% assign images = site.static_files | where_exp:"item","item.path contains searchword" | sort:'basename','last' %}
{% assign images_size = images|size %}
{% unless images_size == 0 %}
<hr>
<div class="gallery-container">

    {% for image in images %}
  {%  unless image.path contains 'backup'  %}
  <div class="responsive {{ include.target | replace:"/" }}">
    <div class="gallery">

      <img src="{% include relative-src.html src= image.path %}" alt="{{image.basename}}">
      {%  unless include.desc %}
      <div class="desc">{{image.basename}}</div>
      {% endunless %}
    </div>
  </div>
  {% endunless %}
  {% endfor %}
</div>
<hr>
{% endunless %}
