<script type="application/ld+json">
{
     "@context": "http://schema.org",
     "@graph": [{
       "@type":"{{ld_type}}",
       "headline":"{{ meta_title }}",{% if ld_type == 'BlogPosting' %}
       "dateModified":"{{ site.time | date_to_xmlschema }}",
       "datePublished":"{{ page.date | default: tie.time | date_to_xmlschema }}",
       "mainEntityOfPage":{
         "@type":"WebPage",
         "@id":"{{ meta_url }}"
       },  {% endif %}
       "image":"{{ meta_image }}",
       "sameAs":[
         "https://www.facebook.com/skkenactus/",
         "https://ko-kr.facebook.com/skkenactus/",
         "https://www.youtube.com/channel/UCvWZEtHJC5QGsVrjrY8DPAQ/featured",
         "https://blog.naver.com/enactusblog/",
         "https://www.flickr.com/photos/enactuskorea/"
       ],
       "url": "{{ meta_url }}",
       "name": "{{ ld_title }}",
       "keywords":"{{keyowords}}",
       "author":{
         "@type": "NGO",
         "name": "{{site.title}}",
         "url": "{{site.url}}",
         "logo": "{{ld_logo}}",
         "contactPoint": [{
           "@type": "ContactPoint",
           "email": "{{site.data.team.contact_email_address}}",
           "contactType": "customer support",
           "url" : "{{site.url}}"
         }],
         "sameAs": [
           "https://www.facebook.com/skkenactus/",
           "https://ko-kr.facebook.com/skkenactus/",
           "https://www.youtube.com/channel/UCvWZEtHJC5QGsVrjrY8DPAQ/featured",
           "https://blog.naver.com/enactusblog/",
           "https://www.flickr.com/photos/enactuskorea/"
         ],
         "foundingDate": "{{site.data.team.foundingDate}}"
       },
       "publisher":{
         "@type": "Organization",
         "name": "{{site.title}}",
          "logo": {
            "@type": "ImageObject",
            "url": "{{ld_logo}}"
          }
       },
       "description": "{{ meta_description }}"
     }{% if ld_type == 'WebSite' %}, {
       "@type": "NGO",
       "url": "{{site.url}}",
       "logo": "{{ld_logo}}",
       "contactPoint": [{
         "@type": "ContactPoint",
         "email": "{{site.data.team.contact_email_address}}",
         "contactType": "customer support",
         "url" : "{{site.url}}"
       }],
       "sameAs": [
         "https://www.facebook.com/skkenactus/",
         "https://ko-kr.facebook.com/skkenactus/",
         "https://www.youtube.com/channel/UCvWZEtHJC5QGsVrjrY8DPAQ/featured",
         "https://blog.naver.com/enactusblog/",
         "https://www.flickr.com/photos/enactuskorea/"
       ],
       "foundingDate": "{{site.data.team.foundingDate}}"
     }{% endif %}]
}
</script>
