{% if site.data.team.is_recruiting %}

<section class="diagonal take-action less-padding-top">
  <div class="slide-back shade-top ">
  </div>
  <div class="slide-back shade-bottom ">
  </div>
  <div class="container halves">
    <div style="padding-top:20px;">

        <h3>
          <strong>{{ site.categories.recruitment[0].title }}</strong>
        </h3>

      <p class="subtext" style="font-size:1em;">
        {{ site.categories.recruitment[0].description }}
        <br>
        <strong>e&nbsp;</strong>{{ site.data.team.recruit_email | default:site.data.team.contact_email_address}}
        <br>
        <a href="{{ site.categories.recruitment[0].promo_file }}" style="color:#3b4650;">
          <strong>홍보자료</strong>
        </a>
        &nbsp;
        <a href="{{ site.categories.recruitment[0].apply_file }}" style="color:#3b4650;" class="apply-file">
          <strong>▶ 지원서 다운로드</strong>
        </a>

      </p>
      <p class="banner-link">
        <a class="button alt" href="{{ site.categories.recruitment[0].url }}">지원공지 확인 &rarr;</a>
      </p>
    </div>
  </div>
</section>
<script>

function isIE(){
   if (navigator.userAgent.toLowerCase().indexOf("msie") != -1){
    return true;
   }
   if(navigator.userAgent.match(/Trident\/(\d)/i) != null){
      return true;
   }
   return false;
}



var applyLinks = document.getElementsByClassName('apply-file');

for(var i =0 ;i<applyLinks.length;i++){
  var eventName = applyLinks[i].getAttribute('href').replace('/files/recruits/', '').replace('/', '');
  if(isIE()){
      applyLinks[i].setAttribute("onclick", function() { gtag("event", "recruit", { "event_category": "recruit_file_download","event_label": eventName }); });

  }else{
      applyLinks[i].setAttribute('onclick','javascript:gtag("event", "recruit", { "event_category": "recruit_file_download","event_label": '+ eventName +' });');
  }
}


</script>
{% endif %}
