
<div id="horizontalTab" style="">
  <ul>
    {% for post_contents in include.page_contents %}
      <li><a href="#{{ post_contents.name | slugify }}">{{ post_contents.name }}</a></li>
    {% endfor %}
  </ul>


  {% for post_contents in include.page_contents %}
  <div id="{{ post_contents.name | slugify }}">
    <div class="blog-post text-contaier">
      {% for post_content in post_contents.items %}
      <div class="post-content front">

      {{ post_content }}

      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
