.blog-posts {
  list-style: none;
  padding: 0;

  li {
    margin: 50px 0;
  }
}

.blog-post {
  h3 {
    margin: 0;

    a {
      color: #000;
      text-decoration: none;
      font-weight: 500;
      font-size: 1.3em;
    }
  }

  h2 {
    text-align: left;
  }

  .post-details {
    margin: 5px 0;
    font-size: 1.2rem;

    .blog-filter {
      display: inline-block;
      text-align: left;

      a {
        position: relative;
        top: -5px;
      }
    }

    a {
      text-decoration: none;
    }

    .post-date {
      position: relative;
      top: -3px;
      margin-left: 5px;
    }

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  .post-content {
    hr {
      margin: 30px 5px;
    }

    h1 {
      font-weight: 700;
      font-size: 1.8rem;
      margin: 60px 0 25px;
      padding-top: 5px;
      padding-bottom: 7px;
      border-top: 1.5px solid $middle-gradient-blue;
      border-bottom: 1.5px solid $middle-gradient-blue;
      color: $middle-gradient-blue;
      /*display: inline-block;*/
    }

    table,
    tbody,
    td,
    tfoot,
    th,
    thead,
    tr {
      display: block;
      @include box-sizing(border-box);
      /* Set all of our table elements to display type block */
    }

    table {
			margin:15px 0px;
      width: 100%;
      white-space: nowrap;
      word-break: break-all;
      table-layout: fixed;
      vertical-align: middle;
			border-collapse: collapse;
			text-align: center;
			empty-cells: show;

			// border-collapse: separate;
			// border-spacing: 50px 0px;
    }
		thead{
			padding-bottom:10px;
		}

    th {
      color: $enactus-dark-grey;
			border-left: 3px solid $enactus-tan;
			border-right: 3px solid $enactus-tan;
			padding:2px 10px 2px 10px;
      font-weight: 500;
    }

    td {
      color: $middle-gradient-blue;
      font-weight: 500;
			border-left: 3px solid $enactus-tan;
			border-right: 3px solid $enactus-tan;
			padding:2px 10px 2px 10px;

    }
    /* And here we will set our table to act normally after we hit 1024px */
    @media #{$tablet} {
      table {
				margin:15px auto;
        display: table;
				padding: 0px 20px;
        width: 100%; /* fallback if needed */
        width: calc(100% - 30px);
      }

      thead {
        display: table-header-group;
      }

      tbody {
        display: table-row-group;
      }

      tfoot {
        display: table-footer-group;
      }

      tr {
        display: table-row;
      }

			th {
				display: table-cell;
				padding:0px 10px 0px 10px;
			  font-size:2vw;
        font-weight: 300;
			}

      td {
        display: table-cell;
				padding:2px 10px 2px 10px;
				font-size:4vw;
				letter-spacing: -0.3vw;
      }

    }

    h1:first-child {
      margin-top: 10px;
    }

    h2 {
      font-weight: 500;
      font-size: 1.5rem;
      margin: 40px 0 20px;
    }

    h3 {
      font-weight: 500;
      font-size: 1.2rem;
      margin: 30px 0 20px;
    }

    h4 {
      font-weight: 500;
      font-size: 1rem;
      margin: 20px 0;
    }

    address,
    ol,
    p,
    pre,
    ul {
      font-size: 1.0rem;
      line-height: 2;
      word-break: break-all;
    }

    img {
      min-width: 100%;
    }

    .button {
      margin: 30px 0 0;
    }

    &.front {
      h1 {
        width: 1005;
        color: white;
        /*
				background-color: $enactus-gold;
				*/
        background-image: url($bg-title);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        text-shadow: -1px -1px 2px rgba(0,0,0,.3);
        border: 0;
        margin-top: 50px;
        margin-bottom: 20px;
        font-weight: 700;
        padding: 10px 20px 10px 5px;
        position: relative;
        display: inline-block;
        border-radius: 0 3px 10px 3px;
      }

      h1:first-child {
        margin-top: 10px;
      }

      h1:before {
        content: "";
        position: absolute;
        margin-bottom: 5px;
        width: 40px;
        height: 7px;
        left: 0;
        top: 0;
        background: $enactus-grey;
      }
      /*
			@media #{$desktop} {
				p img{

					max-width: 48%;
					height:500px;
					width:auto;
					overflow: hidden;

				}

				p img:only-child{

					text-align: center;
					width:98%;
					min-width:98%;
					padding:2%;


				}
			}
			*/
    }
  }
}

.pagination {
  text-align: center;
}

.blog-filter {
  text-align: center;

  a {
    background: #EFEFE8;
    padding: 3px 5px;
    font-size: 0.8em;
    border-radius: 5px;
    color: #888;
    transition: 0.2s ease-in-out;

    &:hover {
      color: #555;
      text-decoration: none;
    }
  }
}
