.blog-posts {
	list-style: none;
	padding: 0;

	li {
		margin: 50px 0 50px 0;
	}
}

.blog-post {
	h3 {
		margin: 0;
		a {
			color: #000;
			text-decoration: none;
			font-weight: normal;
			font-size: 1.3em;
		}
	}

	h2 {
		text-align: left;
	}

	.post-details {
		margin: 5px 0;
		font-size: 1.2rem;

		.blog-filter {
			display: inline-block;
			text-align: left;

			a {
				position: relative;
				top: -5px;
			}
		}

		a {
			text-decoration: none;
		}

		.post-date {
			position: relative;
			top: -3px;
			margin-left: 5px;
		}

		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}

	.post-content {
		h1 {
			font-weight: 600;
			font-size: 1.8rem;
			margin: 50px 0 50px 0;
		}

		h2 {
			font-weight: 500;
			font-size: 1.6rem;
			margin: 20px 0 20px 0;
		}

		h3 {
			font-weight: 400;
			font-size: 1.4rem;
			margin: 15px 0 15px 0;
		}

		h4 {
			font-weight: 300;
			font-size: 1.2rem;
			margin: 10px 0 10px 0;
		}

		p, address, ul, ol, pre {
			font-size: 1.0rem;
			line-height: 2;
			word-break:break-all;
		}
		img{
			min-width:100%;
		}

		.button {
			margin: 30px 0 0 0;
		}
	}
}

.pagination {
	text-align: center;
}

.blog-filter {
	text-align: center;

	a {
		background: #EFEFE8;
		padding: 3px 5px;
		font-size: .8em;
		border-radius: 5px;
		color: #888;
		transition: .2s ease-in-out;

		&:hover {
			color: #555;
			text-decoration: none;
		}
	}
}
