.container,
.text-container {
	margin: 0 auto;
	position: relative;
	padding: 0 20px;
}

.text-container {
	max-width: 1000px;
}

.container {
	max-width: 1000px;
}
/*
header {
	color: $enactus-dark-grey;
	background-color: #fff;
	padding: 20px 0 0px 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;

	a {
		color: $enactus-dark-grey;
		text-decoration: none;
		z-index: 1;
		position: relative;

		&:hover {
			color: $enactus-gold;
			text-decoration: none;
		}
	}

	.team-name {
		font-size: 1.7em;

		a {
			top: -12px;
			line-height:60px;
			img {
				height:60px;
			}
		}
	}
}
*/
.dark-logo {
	display: none;
}

header {
	color: #fff;
	padding: 15px 0;
	position: fixed;
	width: 100%;
	z-index: 9999;
	line-height: 0;
	top:0px;

	.container {
		line-height: 0;
	}

	&.header-background {
		background-color: rgba(255,255,255,.95);
		color: $enactus-dark-grey;
		box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
		transition: background-color 0.2s ease;
		text-shadow: none;

		a {
			color: $enactus-grey;

			@media #{$mid-point} {
				&:hover {
					border-bottom-color: rgba(80, 80, 80,.3);
					border-bottom-width: 5px;
				}
			}
		}

		.dark-logo {
			display: inline;
		}

		.light-logo {
			display: none;
		}
	}

	a {
		color: #fff;
		text-decoration: none;
		z-index: 1;
		position: relative;
		@media #{$mid-point} {
			height: 100%;
		}
		display: block;

		span {
			display: block;
			height: 100%;

			.dark-logo {
				display: none;
			}

			.light-logo {
				display: inline;
			}
		}


		&:hover {
			text-decoration: none;
		}

	}

	.team-name {
		font-size: 1.7em;
		display: inline-block;

		img {
			height: 30px;
			width: auto;
		}
	}
}

.content {
	background: #fff;
	padding: 1px 0 0 0;
	position: relative;
}


section {
	padding: 150px 0;
	background: #fff;
	margin-top: -2px;
	&.first {
		margin-top: -10vh;
		&.less-padding-top {
			padding-top: 100px;
			padding-bottom:100px;
		}
		&.zero-padding-top {
			padding-top: 50px;
			padding-bottom: 50px;
		}
		.text-container{
			margin-top:-60px;
		}
	}
	&.diagonal {
		-webkit-transform: skewY(-$section-rotation);
		-moz-transform: skewY(-$section-rotation);
		-ms-transform: skewY(-$section-rotation);
		transform: skewY(-$section-rotation);

		> div {
			-webkit-transform: skewY($section-rotation);
			-moz-transform: skewY($section-rotation);
			-ms-transform: skewY($section-rotation);
			transform: skewY($section-rotation);
		}
	}
/*
	&.hero {

		color: #ffffff;
		background: $enactus-gold;
		text-align: left;
		margin-top: -100px;
		padding-top: 250px;

		h2, p {
			max-width: 90%;
		}

		h2 {
			font-size: 3.5rem;
		}

		p {
			font-size: 1.8rem;
			color: $enactus-dark-grey;
		}

		a:not(.button) {
			color: #ffffff;
			font-style: italic;
		}
	}
*/
	&.alternate {
		background: $enactus-tan;
	}
	&.brand {
		color: #ffffff;
		background: $enactus-gold;
		a {
			color: $enactus-dark-grey;
		}
	}
	&.take-action {
		color: $enactus-grey;
		background: #ffffff url($bg-take-cation);
		a {
			color: $enactus-gold;
		}
	}
}

.button {
	padding: 13px 38px;
	border-radius: 3px;
	display: inline-block;
	color: $enactus-gold;
	text-decoration: none;
	cursor: pointer;
	margin: 20px 0 0 0;
	border: 1px solid #fff;
	background: #fff;
	text-decoration: none !important;

	&:hover {
		background: rgba(255, 255, 255, 0.3);
		color: #fff;
	}

	&:active {
		opacity: 1;
		background: rgba(255, 255, 255, 0.1);
		color: #fff;
		transform: translateY(1px);
	}
}

.halves {
	display: flex;
	flex-flow: wrap;
	align-items: center;

	> div {
		flex: 1 0 100%;
	}

	@media #{$mid-point} {
		> div {
			flex: 1;
		}

		> div + div {
			padding-left: 20px;
			margin: 0;
		}
	}
}

.aligned-top {
	align-items: flex-start;
}

.image-grid {
	padding: 0;
	list-style: none;
	display: flex;
	flex-flow: wrap;
	text-align: center;
	margin: 0 -20px;

	li {
		padding: 0;
		box-sizing: border-box;
		width: 100%;

		position: relative;
		overflow: hidden;
		margin: 20px;
		border-radius: 5px;
		text-align: left;
		border: 1px solid $enactus-gold;
		line-height: 0;

		.img-box {
			background-color: $enactus-grey;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			overflow: hidden;
			height: 100%;
			&:before {
				content: "";
				background: linear-gradient(to bottom,rgba(0,0,0,.6) 0,rgba(0, 0, 0, 0.25) 100%);
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				height: 100%;
			}
		}


		/* TODO :  정렬 수정 */
		@media #{$tablet} {
			flex: 1 1 50%;
		}

		@media #{$desktop} {
			flex: 1 1 30%;
		}

		img {
			min-width: 100%;
		}

		> a:hover {
			opacity: 0.8;
		}
		sub.top-right {
			text-align: right;
			position:absolute;
			top:20px;
			right:10px;
			text-shadow: 1px 1px 1px rgba(0,0,0,.9);
		}
	}

	.square-image {
		height: 300px;

		.img-box {
			min-height: 100%;
			width: 100%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}

	.details {
		line-height: 1.2;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.5);
		padding: 20px;
	}

	.name {
		font-size: 1.3rem;
		font-weight: bold;
		color: $enactus-gold;
	}

	.position {
		font-size: 1rem;
		margin-top: 5px;
		color: #fff;
	}

	.filler {
		border: 0;
	}
}

.image-list,
.image-list li {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.patterned {
	background: $enactus-grey url($pattern-dark);

	&,
	p {
		color: #fefefe;
	}
}

.learn-more {
	position: absolute;
	left: 0;
	bottom: 30px;
	text-align: center;
	font-size: 1.4em;
	width: 100%;

	a {
		text-decoration: none;
		color: #fff;
		opacity: .9;

		&:hover {
			opacity: 1;
		}
	}
	.arrow {
		font-size: .6em;
	}
}
