---
layout: default
---

{% assign page_data = site.data.navigation.links | where: "link", "/blog/" | first %}
<section class="hero-page" >
	<div class="container" {% if page.full_width %}style="max-width: 100%"{% endif %}>
		{% if page_data.name %}
		<h2><a href="{{ site.baseurl }}/blog/">{{ page_data.name }}</a> / {{ page.title | capitalize }}</h2>
		{% endif %}
	</div>
</section>


<section class="first diagonal less-padding-top">
	<div class="text-container">
		<ul class="blog-posts">
			{% include list-posts.html posts=page.posts %}
		</ul>
	</div>
</section>
