<!doctype html>

<html>

	{% include head.html %}

	<body>
		{% include json-ld.html %}

			<!-- Global Site Tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id={{site.google_analytics_key}}"></script>
			<script>
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());

				gtag('config', '{{site.google_analytics_key}}');
			</script>

		<header id="mainHeader">
			<div class="container">
				<div class="team-name">
					<a href="{{ site.baseurl }}/">
						<span class="dark-logo"><img width="104" height="38" src="{{ site.baseurl }}{{ site.data.image.header_logo }}" alt="{{ site.social.name }}"></span>
						<span class="light-logo"><img width="104" height="38" src="{{ site.baseurl }}{{ site.data.image.header_logo_light | default: site.data.image.header_logo }}" alt="{{ site.social.name }}"></span>
					</a>
				</div>
				{% include navigation.html %}
			</div>
		</header>

		{{ content }}

		{% include recruit-banner.html %}

		{% include footer.html %}
<!--
		<script src="{{ site.baseurl }}/js/flexibility.js"></script>
	-->
	<!--
	<noscript id="deferred-styles">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="small.css"/>
	</noscript>
<script>
	var loadDeferredStyles = function() {
		var addStylesNode = document.getElementById("deferred-styles");
		var replacement = document.createElement("div");
		replacement.innerHTML = addStylesNode.textContent;
		document.body.appendChild(replacement)
		addStylesNode.parentElement.removeChild(addStylesNode);
	};
	var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
			window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
	if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
	else window.addEventListener('load', loadDeferredStyles);
</script>
-->

	  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="{{ site.baseurl }}/js/jquery.responsiveTabs.min.js"></script>
		<script src="{{ site.baseurl }}/js/main.js"></script>
		<script src="{{ site.baseurl }}/js/slider.js"></script>
	</body>
</html>
