<!doctype html>

<html>

	{% include head.html %}

	<body>
		{% include json-ld.html %}
		<header id="mainHeader">
			<div class="container">
				<div class="team-name">
					<a href="{{ site.baseurl }}/">
						<span class="dark-logo"><img width="104" height="38" src="{{ site.baseurl }}{{ site.data.image.header_logo }}" alt="{{ site.social.name }}"></span>
						<span class="light-logo"><img width="104" height="38" src="{{ site.baseurl }}{{ site.data.image.header_logo_light | default: site.data.image.header_logo }}" alt="{{ site.social.name }}"></span>
					</a>
				</div>
				{% include navigation.html %}
			</div>
		</header>

		{{ content }}

		{% include recruit-banner.html %}

		{% include footer.html %}
<!--
		<script src="{{ site.baseurl }}/js/flexibility.js"></script>
	-->
	  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="{{ site.baseurl }}/js/jquery.responsiveTabs.min.js"></script>
		<script src="{{ site.baseurl }}/js/main.js"></script>
		<script src="{{ site.baseurl }}/js/slider.js"></script>

	</body>
</html>
