---
layout: default
---
{% assign page_data = site.data.navigation.links | where: "link", page.url | first %}
{% assign bg_image = page_data.image | default: site.data.image.default_image.pages %}
{% assign page_title = page_data.name | default:page.title %}
{% assign page_description = page_data.description | default:page.description %}


<section class="hero-page" style="background-image: url({% include relative-src.html src= bg_image %})">
	<div class="container" {% if page.full_width %}style="max-width: 100%"{% endif %}>
			<span>
				<h2 class="enactus-text">{{ page_title }}</h2>
			</span>
			{% if page.is_post != true and page_description %}
				<p class="subtext line-1">{{ page_description }}</p>
			{% endif %}
	</div>

</section>
<div>
{{ content }}
</div>
