---
layout: default
---
{% assign project = site.pages | where: "path", "project.html" | first %}

<section class="first diagonal brand">
  <div class="container">
		{% if project.heading %}
		<h2><a href="{{ site.baseurl }}/project/">{{ project.heading }}</a> / {{ page.title | capitalize }}</h2>
		{% endif %}
		{% if page.subtitle %}
			<p class="subtext">{{ page.subtitle }}</p>
		{% endif %}
  </div>
</section>

<section class="hero diagonal">
	<div class="container">

	</div>
</section>

<section class="diagonal">
	<div class="container">
		<p><img src="{% include relative-src.html src=page.image_path %}" class="screenshot"></p>
		<div>
			{{ content }}
		</div>
		<p><a href="{{ page.external_url }}">View {{ page.title }} &rarr;</a></p>
	</div>
</section>
