---
layout: default
---
{% assign project = site.pages | where: "path", "project.html" | first %}

<section class="hero" style="background-image: url({{ page.image_path | default: site.data.image.projects_main }})">
	<div class="inner-hero container">
    <div class="hero-text-container" >
			<h1 class = "enactus-highlight">
				{{ page.name }}
			</h1>
			<br>
      {% if page.subtitle %}
  			<p class="subtext">{{ page.subtitle }}</p>
  		{% endif %}
      {% if page.start_year %}
        {% if page.end_year %}
        <sub>{{ page.start_year }} - {{ page.end_year }}</sub>
        {% else %}
        <sub>launched in {{ page.start_year }}</sub>
        {% endif %}
      {% endif %}
      <br>
			<div class="cta button alt"><a href="{{ site.baseurl }}/projects/" >&larr;목록</a></div>
      {% if page.external_url %}
			<div class="cta button alt"><a href="{{ page.external_url }}" target="_blank">홈페이지</a></div>
      {% endif %}
    </div>
    <!--
    <div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
  -->
	</div>

</section>

<section class="first diagonal">
  <div class="blog-post text-container">
    <div class="post-content">
			{{ content }}
		</div>
	</div>
</section>
