---
layout: default
---
{% assign project = site.pages | where: "path", "project.html" | first %}
{% assign projects_image = page.image | default: site.data.image.default_image.project %}

<section class="hero" style="background-image: url({% include relative-src.html src= projects_image %})">
  <div class="inner-hero container">
    <div class="hero-text-container">
      <h1 class="enactus-highlight">
				{{ page.title }}
			</h1>
      <br>

			{% if page.description %}
      	<p class="subtext">{{ page.description }}</p>
      {% endif %}
			{% if page.start_year %}
				{% if page.end_year %}
	      	<sub>{{ page.start_year }} - {{ page.end_year }}</sub>
				{% else %}
	      <sub>launched in {{ page.start_year }}</sub>
				{% endif %}
			{% endif %}

	    <br>

      {% if page.external_url %}
      <div class="cta button alt"><a href="{{ page.external_url }}" target="_blank">홈페이지</a></div>
      {% endif %}
    </div>
  </div>
</section>

<section class="first diagonal">
  <div class="blog-post text-container">
    <div class="post-content">
      {{ content }}

			{% assign _target = page.url | replace: 'index.html', '' %}
			{% unless _target contains 'new-project' %}
				{% include image-grid.html target= _target desc='none' %}
			{% endunless %}
    </div>
  </div>
</section>
